<div id="modal">
  <div class="nav">
    <div class="logo">OpenShift</div>

    <div class="item">Item</div>
    <div class="item">Item</div>
    <div class="item selected-item">Item</div>
  </div>

  <div class="panel-body">
    <h2>Panel content</h2>
    <div class="panel-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt esse cillum dolore eu deserunt mollit anim id est laborum.
    </div>

    <table>
      <tr>
        <td class="label">Case ID:</td>
        <td class="content">Case0002b</td>
      </tr>
      <tr>
        <td class="label">Case Name:</td>
        <td class="content">Development case instance</td>
      </tr>
      <tr>
        <td class="label">Status:</td>
        <td class="content active-status">Active</td>
      </tr>
      <tr>
        <td class="label">State:</td>
        <td class="content">Started on March 16th, 2017</td>
      </tr>
    </table>
  </div>
</div>
